.header_outer_container {
  position: sticky !important;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(148, 132, 132); */
  /* background-color: rgb(20, 20, 20); */
  background-color: transparent;
  height: 10vh;
  width: 100%;
  color: white !important;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  /* background-color: red; */
  font-size: 18px;
  font-weight: 400;
  transition: background-color 1.5s;
}
.nav-link {
  color: white !important;
}
.nav__black {
  background-color: rgb(20, 20, 20);
}
.header_container {
  width: 180% !important;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  /* background-color: yellow; */
}

.header_left ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
  /* background-color: lightblue; */
}
.header_right ul {
  width: 150%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  /* background-color: lightgreen; */
}
@media (max-width: 768px) {
  .expandClass {
    background-color: black;
  }
}
@media (max-width: 768px) {
  .header_container{
    padding: 0 !important;
    width: 100% !important;
    max-width:  100% !important;
  }

}